.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  display: flex;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.toggle_complete{
  width: 1rem;
  margin-right: 1rem;
}
.listItem input:checked~.task_title {
  text-decoration: line-through;
  }
.remove_task_button{
  padding-left: 0.6rem;
}
.remove_task_button:hover{
  color:rgb(159, 29, 29);
  cursor: pointer;
}
.addButton {
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: #ffffff;
  border: none;
  height: 2.4rem;
  margin-top: -1rem;
  border-radius: 5px;
  cursor: pointer;
}
.add_task_input{
  width: 13rem;
  height: 1.8rem;
}

.button {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  background-color: #007bff;
  color: #ffffff;
  border: 2px solid #007bff;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}